<app-navbar></app-navbar>
<div class="container p-3">
    <app-places (messageEvent)="receiveMessage($event)"></app-places>
</div>

<div class="container p-3">
    <div class="row">
        <div class="col map">
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="styles">
                <agm-polyline>
                    <agm-polyline-point *ngFor="let point of waypoints" [latitude]="point.lat" [longitude]="point.lng"></agm-polyline-point>
                </agm-polyline>
            </agm-map>
        </div>

        <div class="col">
            <p class="h2">Safest route: A</p>
            <p>Select one to display more information:</p>
            <div class="align-self-center mx-auto">
                <div class="btn btn-outline-dark button" >A</div>
                <div class="btn btn-outline-dark button ml-3" >B</div>
            </div>
            <div class="mt-3">
                <app-bar-chart></app-bar-chart>
                <ul class="list-group mx-auto">
                    <li class="list-group-item">🧓🏻 Age:</li>
                    <li class="list-group-item" >⚠️ Speed limit:</li>
                    <li class="list-group-item">🌧️ Weather:</li>
                    <li class="list-group-item">☀️ Light condition</li>
                </ul>

            </div>
        </div>
    </div>
</div>

