<app-navbar></app-navbar>
<div class="container p-3">
    <app-places (messageEvent)="receiveMessage($event)" (firstRouteEvent)="receiveMessageFirstRouteAccidents($event)" (secondRouteEvent)="receiveMessageSecondRouteAccidents($event)" (firstLocationEvent)="receiveMessageFirstLocation($event)" (secondLocationEvent)="receiveMessageSecondLocation($event)"></app-places>
</div>

<div class="container p-3">
    <div class="row">
        <div class="col map">
            <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="styles">
                    <ng-container *ngIf="osrmRootObject">
                        <agm-polyline [strokeColor]="'red'">
                            <agm-polyline-point  *ngFor="let point of osrmRootObject.routes[0].geometry.coordinates" [latitude]="point[1]" [longitude]="point[0]"></agm-polyline-point>
                        </agm-polyline>
                        <ng-container *ngIf="osrmRootObject.routes[1]">
                            <agm-polyline [strokeColor]="'green'">
                                <agm-polyline-point  *ngFor="let point of osrmRootObject.routes[1].geometry.coordinates" [latitude]="point[1]" [longitude]="point[0]"></agm-polyline-point>
                            </agm-polyline>
                            <agm-marker [latitude]="secondLocation.lat" [longitude]="secondLocation.lng"></agm-marker>
                            <agm-marker [latitude]="firstLocation.lat" [longitude]="firstLocation.lng"></agm-marker>
                        <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/js-marker-clusterer/gh-pages/images/m">
                            <agm-marker [iconUrl]="icon" *ngFor="let point of firstRouteAccidents" [latitude]="point._geoloc.lat" [longitude]="point._geoloc.lng"></agm-marker>
                            <agm-marker [iconUrl]="icon" *ngFor="let point of secondRouteAccidents" [latitude]="point._geoloc.lat" [longitude]="point._geoloc.lng"></agm-marker>
                        </agm-marker-cluster>
                        </ng-container>
                    </ng-container>
            </agm-map>
        </div>

        <div class="col" *ngIf="osrmRootObject">
            <p class="h2">Safest route: A</p>
            <p>Select one to display more information:</p>
            <div class="align-self-center mx-auto">
                <div class="btn btn-outline-danger button" >A</div>
                <div class="btn btn-outline-success button ml-3" >B</div>
            </div>
            <div class="mt-3">
                <app-bar-chart></app-bar-chart>
                <ul class="list-group mx-auto">
                    <li class="list-group-item">🧓🏻 Age:</li>
                    <li class="list-group-item" >⚠️ Speed limit:</li>
                    <li class="list-group-item">🌧️ Weather:</li>
                    <li class="list-group-item">☀️ Light condition</li>
                </ul>

            </div>
        </div>
    </div>
</div>

